/* src/styles/inventario.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titleInventario {
  text-align: center;
  color: #003366;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.form-wrapper {
  margin-bottom: 20px;
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}

.form-table th,
.form-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* tamaño de fecha de ingreso*/
.form-table input[type="date"] {
  width: 100%; 
  padding: 8px;
  min-width: 150px; 
  box-sizing: border-box;
}

.form-table th {
  background-color: #f2f2f2;
}

.form-table input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}

/* Redimensionar el campo de cantidad en modo edición */
.edit-input {
  width: 60px;
  padding: 5px;
  text-align: center;
}

.action-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-right: 8px; /* Ajusta el margen entre botones */
}

.edit-button {
  background-color: #4caf50; /* Verde para el botón de editar */
}

.delete-button {
  background-color: #f44336; /* Rojo para el botón de eliminar */
}

.delete-button:hover {
  background-color: #d32f2f; /* Oscurecer el rojo en hover */
}

.edit-button:hover {
  background-color: #388e3c; /* Oscurecer el verde en hover */
}

.ingredient-table {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}

.ingredient-table th,
.ingredient-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.ingredient-table th {
  background-color: #f2f2f2;
}

.ingredient-table td:last-child {
  text-align: center;
}

.ingredient-table .action-button {
  display: inline-block;
  margin: 0 auto;
}

.button-container {
  display: inline-block;
  margin-right: 10px; /* Ajusta el valor según sea necesario */
}

.search-container {
  margin-bottom: 20px;
  margin-left: 50px; /* Ajusta este valor según sea necesario */
}
.search-input-table {
  width: 300px; 
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
}

.pagination button:hover {
  background-color: #ddd;
}

.sortable {
  cursor: pointer;
  user-select: none;
  color: #003366;
  font-weight: bold;
}

.sortable:hover {
  text-decoration: underline;
}

.alert-container {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.alert-container h3 {
  margin: 0 0 10px 0;
}

.alert-container ul {
  margin: 0;
  padding: 0 0 0 20px;
}

.alert-container li {
  list-style: none;
}
/* Estilos para el popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: #fff;
  color: #856404;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  max-height: 30vh; /* Establece una altura máxima */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup h3 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.popup ul {
  margin: 0;
  padding: 0 0 0 20px;
  text-align: left;
}

.popup li {
  list-style: none;
  margin-bottom: 10px;
}

.close-popup {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.close-popup:hover {
  background-color: #45a049;
}
/* Animación para el popup */
@keyframes popup-appear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popup {
  animation: popup-appear 0.3s ease-in-out;
}
/* Estilos responsivos */
@media (max-width: 767px) {
  .form-container,
  .ingredient-table {
    width: 100%;
    overflow-x: auto;
  }

  .form-table input#id,
  .form-table input#cantidad {
    width: 100%;
  }

  .form-table th,
  .form-table td {
    display: block;
    width: 100%;
  }

  .form-table tr {
    display: block;
    margin-bottom: 10px;
  }

  .form-table th {
    text-align: left;
  }

  .form-table td {
    text-align: left;
  }

  .pagination button {
    flex: 1 0 auto;
  }
}