.menu-container {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 100px;
}

/* Contenedor de secciones en una fila */
.menu-sections {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Espacio entre secciones */
}

/* Estilo para cada sección del menú */
.menu-section {
    flex: 1;
    margin: 0 5px;
    text-align: left;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.menu-section h3 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-item:hover {
    background-color: #e0e0e0;
}

.selected {
    background-color: #d1e7dd;
    color: #0f5132;
    font-weight: bold;
}

.selected-item-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
}

.ingredients-list {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    color: #333;
}

.left-align {
    text-align: left;
}
